@media (max-width: 480px) {
    .centered-airdrop{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
    }
    .badge-m{
        margin-left: 2vw;
    }
}
.margined-sides{
    margin: 5vw 5vw 5vw 5vw;
    display: flex;
    justify-content: center;
}
.link-social{
    color: blue;
    text-decoration: underline;
}

.center-buttons{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}



.center-buttons button {
    margin: 10px;
    box-shadow: 2px 2px 5px rgb(13, 127, 221); 
    color: aliceblue;
    background: linear-gradient(90deg, rgba(220,31,255,1) 0%, rgba(154,21,201,1) 35%, rgba(80,38,240,1) 53%, rgba(27,115,223,1) 74%, rgba(3,225,255,1) 100%)
}

.center-buttons button:hover{
    background: #9a15c9;
}

.green{
    color: green !important;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 3px;
    margin: 10px 5px 10px 5px;
}

.red{
    color: red !important;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 3px;
    margin: 10px 5px 10px 5px;

}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space;
    align-items: center;
    margin: 10px;
}

.centered-airdrop{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.smol-margin{
    margin: 5px 5vw 5px 5vw;
}

.small-logo{
    margin: 0px 10px 0px 15px;
}

.bolder{
    font-size: 24px;
}

.number-input{
    border: 1px rgb(134, 38, 218) solid;
}

.highlighted:hover{
    color: blue;

}

.highlighted{
    color: rgb(68, 40, 100);
    text-decoration: underline;
    cursor: pointer;
}

.reduced{
    width: 20%;
    margin: 0 auto;
    border: 1px gray solid;
    border-radius: 25px;
    margin-top: 15px;
    text-align: center;
}

.reduced-2{
    width: 25%;
    margin: 0 auto;
    border: 1px gray solid;
    border-radius: 25px;
    margin-top: 15px;
    text-align: center;
}

.flex-collumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.margin-top{
    margin-top: 15px;
}

.latest-updates{
    font-size: 12px;
}

h1{
    margin: 20px;
    font-size: 34px;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 10px;
    background: -webkit-linear-gradient(90deg, rgba(145,6,196,1) 0%, rgba(92,9,121,1) 35%, rgba(42,90,204,1) 53%, rgba(27,115,223,1) 74%, rgba(0,221,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.badge-m{
    margin-left: 5px;
}



.button-check{
    margin: 20px;
    box-shadow: 2px 2px 5px rgb(13, 127, 221); 
    color: aliceblue !important;
    background: -webkit-linear-gradient(90deg, rgba(220,31,255,1) 0%, rgba(154,21,201,1) 35%, rgba(80,38,240,1) 53%, rgba(27,115,223,1) 74%, rgba(3,225,255,1) 100%) !important;
}